
    <h1>
  List of all directors
</h1>
<hr>
  <table border="1">
  <tbody><tr>
    <th>
      ID
    </th>

    <th>
      Image
    </th>

    <th>
      Name
    </th>

    <th>
      Dob
    </th>

    <th>
    </th>
  </tr>

    <% @films.each do |film| %>
      
      <tr>
        <td>
          <%= film.id%>
        </td>
        <td>
          <img src= <%= film.image %> </img>
        </td>
        <td>
          <%= film.title%>
        </td>
        <td>
          <%= film.year%>
        </td>
        <td>
          <a  href= "/movies/<%= film.id%>">
            Show details
          </a>
        </td>
      </tr>

    <% end %>

</tbody></table>
